* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 71px;
    padding-right: 72px;
}

}
.main-container1{
    max-width: 1200px;
    margin: auto;
    padding-top: 53px;
    padding-bottom: 83px;
}

.nav{
    display: block;
    max-width: max-content;
    margin-top: 20px;
    margin-bottom: 19px;
    background-color: tomato;

   }
.nav-list{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.nav-item{
    display: inline-block;
    margin-right: 33px;
}
.nav-link{
    text-decoration: none;
    color: #000000;
}

.logo{
    display: block;
    text-align: center;
    background-color: gold;
}
.footer_right{
    background-color: gold;
}
.footer_right a {
    margin-right: 33px;
    background-color: gold;
}


.container1{
    background-image: url("../images/index-background.svg");
    background-size: cover;